@import "bootstrap";

body {
    padding-top: 20px;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus, {
    background-color: transparent;
    color: black;
}
h1, h2, h4{
    text-align: center;
    margin-bottom: 40px;
}
.friend-item {
    min-height: 150px;
}
p{
  margin-left: 30px;
}
h3{
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 10px;
}
.form-horizontal .control-label {
    padding-right: 0px;
    font-size: 18px;
}
a{
    font-size: 20px;

}
