<h2>Listar</h2>
{{#each model as |friend|}}
<div class="col-md-4">
  <div class="panel panel-default friend-item">
    <div class="panel-heading">
      <h3 class="panel-title">{{friend.fullName}}</h3>
    </div>
    <div class="panel-body">
      <p>Nome: {{friend.firstName}}</p>
      <p>Sobrenome: {{friend.lastName}}</p>
      <p>Sobrenome: {{friend.beginDate}}</p>
    </div>
    <div class="panel-footer text-right">
      {{#link-to 'friends.edit' friend.id class='btn btn-success btn-xs'}}Editar{{/link-to}}
    </div>
  </div>
</div>
{{/each}}