<div class="row">
  <div class="col-sm-10 col-md-12">
    <h1>Listar Todos</h1>
  </div>
</div>
{{#each model as |friend|}}
<div class="col-sm-10 col-md-4">
  <div class="panel panel-default friend-item">
    <div class="panel-body">
      <p>Nome: {{friend.name}}</p>
      <p>Sobrenome: {{friend.lastname}}</p>
      <p>Amigos desde: {{friend.friendsSince}}</p> 
    </div>
    <div class="panel-footer text-right">
      {{#link-to 'friends.edit' friend.id class='btn btn-info'}}Editar{{/link-to}}
    </div>
  </div>
</div>
{{/each}}