<div>
    <h1>Desafio Ember</h1>
    <h3>
        Monte uma aplicação chamada "Friend List" em EmberJS utilizando Ember-data.
    </h3>
    <h4>A aplicação irá conter:</h4>
    <ul>
        <li>Tela de Listagem os "Amigos" da aplicação</li>
        <li>Tela de Detalhe do "Amigo"</li>
        <li>Tela de Criação de novo "Amigo"</li>
        <li>Tela de Edição dos dados do "Amigo"</li>
    </ul>
</div>

